.features img {
	border-radius: 5px;
	justify-self: center;
	width: 93%;
}

.mobile {
	display: none;
}

/* Tablet Responsive */
@media (max-width: 768px) {
	.features img {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.showcase {
		height: 450px;
	}

	.showcase .buttons {
		flex-direction: column;
	}

	.showcase h1 {
		font-size: 25px;
	}

	.showcase p {
		font-size: 14px;
	}

	.showcase a {
		width: 100%;
		text-align: center;
	}

	.features .grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}


.statistics {
	margin-left: 250px;
}

.servers .members {
	color: #635bff;
}

.blank {
	padding: 10px;
}

@media all and (display-mode: standalone) {
	body {
	  background-color: yellow;
	}
  }
